@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #dbdbdb;
  width: 80%;
  max-width: 400px;
  padding: 40px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0 #00000060;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid black;
}

.label-float label {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #dbdbdb;
}

button, .btn-primary {
  background-color: black;
  color: gold;
  border-color: gold;
  padding: 7px 14px;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover, .btn-primary:hover {
  background-color: goldenrod;
  color: black;
  border-color: goldenrod;
}

#barbeariaSelect {
  background-color: black;
  color: gold;
  border-color: gold;
  padding: 7px 14px;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  margin: 0 auto;
  display: block;
}

#barbeariaSelect option {
  background-color: black;
  color: gold;
  font-weight: bold;
}

#barbeariaSelect:hover,
#barbeariaSelect option:hover {
  background-color: goldenrod;
  color: black;
  border-color: goldenrod;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: black;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

